<!doctype>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">  
       {{>header}}
       <img class ="potrait" src="/images/AP1.jpg">
     </div>
  {{>footer}}
</body>
</html>